node_modules/
dist/
data/
*.fpk
fpk/app/docker/images/*.tar
tools/fnpack
tools/fnpack.exe
.env
.env.*
*.log
.DS_Store
Thumbs.db
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
config/*.db
config/*.db-shm
config/*.db-wal
config/*.sqlite
config/*.sqlite3
